/* Baseline /?/ Layout */

// BSR: imported from https://github.com/twbs/bootstrap/blob/v4.5.0/scss/_reboot.scss


// 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
// TODO: remove in v5
// stylelint-disable-next-line selector-list-comma-newline-after
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { // BSR
  display: block;
}

// Remove the margin in all browsers.
// As a best practice, apply a default `background-color`.
// Set an explicit initial text-align value so that we can later use
//    the `inherit` value on things like `<th>` elements.
body {
  height: 100%;
  margin: 0; // BSR

  // http://subtlepatterns.com/random-grey-variations/
//  background: $body-background url('../images/vendor/subtle_patterns/random_grey_variations/random_grey_variations.png') repeat left top; // BSR

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

// Future-proof rule: in browsers that support :focus-visible, suppress the focus outline
// on elements that programmatically receive focus but wouldn't normally show a visible
// focus outline. In general, this would mean that the outline is only applied if the
// interaction that led to the element receiving programmatic focus was a keyboard interaction,
// or the browser has somehow determined that the user is primarily a keyboard user and/or
// wants focus outlines to always be presented.
//
// See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
// and https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
[tabindex="-1"]:focus:not(:focus-visible) { // BSR
  outline: 0 !important;
}

// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
hr { // BSR
  box-sizing: content-box; // 1
  height: 0; // 1
  overflow: visible; // 2
}

ol,
ul,
dl { // BSR
  margin-top: 0;
  @include fluid(margin-bottom, $base-line-height-min, $base-line-height-max);
}

ol ol,
ul ul,
ol ul,
ul ol { // BSR
  margin-bottom: 0;
}

dd { // BSR
  @include fluid(margin-bottom, $base-line-height-min * 0.5,
                                $base-line-height-max * 0.5);
  margin-left: 0; // Undo browser default
}

blockquote { // BSR
  margin: 0;
  @include fluid(margin-bottom, $base-line-height-min, $base-line-height-max);
}

//
// Code
//
pre { // BSR
  // Remove browser default top margin
  margin-top: 0;
  // Reset browser default of `1em` to use `rem`s
  @include fluid(margin-bottom, $min-font, $max-font);
  // Don't allow content to break outside
  overflow: auto;
  // Disable auto-hiding scrollbar in IE & legacy Edge to avoid overlap,
  // making it impossible to interact with the content
  -ms-overflow-style: scrollbar;
}

//
// Figures
//
figure { // BSR
  // Apply a consistent margin strategy (matches our type styles).
  margin: 0;
  @include fluid(margin-bottom, $min-font, $max-font);
}

//
// Images and content
//
img { // BSR
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

svg { // BSR
  // Workaround for the SVG overflow bug in IE10/11 is still required.
  // See https://github.com/twbs/bootstrap/issues/26878
  overflow: hidden;
  vertical-align: middle;
}

//
// Tables
//
table { // BSR
  border-collapse: collapse; // Prevent double borders
}

//
// Forms
//
label { // BSR
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  @include fluid(margin-bottom, $base-line-height-min, $base-line-height-max);
}

// Remove the default `border-radius` that macOS Chrome adds.
//
// Details at https://github.com/twbs/bootstrap/issues/24093
button { // BSR
  // stylelint-disable-next-line property-blacklist
  border-radius: 0;
}


// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner { // BSR
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] { // BSR
  box-sizing: border-box; // 1. Add the correct box sizing in IE 10-
  padding: 0; // 2. Remove the padding in IE 10-
}

textarea { // BSR
  overflow: auto; // Remove the default vertical scrollbar in IE.
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

fieldset { // BSR
  // Browsers set a default `min-width: min-content;` on fieldsets,
  // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  // So we reset that to ensure fieldsets behave more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359
  // and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
  min-width: 0;
  // Reset the default outline behavior of fieldsets so they don't affect page layout.
  padding: 0;
  margin: 0;
  border: 0;
}

progress { // BSR
  vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

//
// Correct element displays
//
output { // BSR
  display: inline-block;
}

summary { // BSR
  display: list-item; // Add the correct display in all browsers
  cursor: pointer;
}

template { // BSR
  display: none; // Add the correct display in IE
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-.
[hidden] { // BSR
  display: none !important;
}

