/* Content /?/ Layout */

.Page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
  section { 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
    &.disco-description {
      width: 25em;
    }
  }

  img.home-logo {
    height: 25em;
    width: 25em;
  }
  
  ul.upcoming-rides {
    display: flex;

    list-style: none;
    padding: 0;
    
    li {
      margin-left: 1em;
      margin-right: 1em;
      position: relative;        
      
      &.ridden {
        opacity: 30%;
      }
      
      &:last-child {
      }

      a {
        img {
          height: 10em;
          width: 10em;
        }
      
        &:active {
          color: #fff;
        }
        
        .hover-text {
          height: 10em;
          width: 10em;
          position: absolute;
          top: 0;
          left: 0;
          background: #000;
          opacity: 0;
          margin: 0;
          padding: 0;
          line-height: 10em;
          text-align: center;
          color: $light-text;
          font-weight: bold;
        }
        
        &:hover .hover-text {
          opacity: 80%;
        }
      }
    }

    @media (max-width: $min-screen) {
      flex-direction: column;
      
      li {
        margin-bottom: 1em;
        a {
          img {
            height: 20em;
            width: 20em;
          }

          .hover-text {
            height: 20em;
            width: 20em;
            line-height: 20em;
          }
        }
      }
    }
  }
}

.how-to-disco .Page {
  width: 25em;
}

.collage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5em;

  & > * {
    margin: 0.5em;
    width: 100%;
  }

  img {
    background-color: #6661;
    height: auto;
    width: 100%;
  }

  @media (min-width: $min-screen) {
    & > * {
      width: unset;
    }

    img {
      height: min(3in, 25vw);
      max-width: 100%;
      min-width: 100%;
      width: auto;
    }

    &.cover {
      & > * {
        flex-grow: 1;
      }

      img {
        object-fit: cover;
        object-position: 50% 66%;
      }
    }
  }
}
