/* Footer /?/ Layout */

footer {
  flex: 1;
  padding: 0;
  margin: 0 auto;
  @include fluid(margin-top, $base-line-height-min,
                             $base-line-height-max);
  @include fluid(margin-bottom, $base-line-height-min,
                                $base-line-height-max);

  text-align: center;
  @include fluid(font-size, $min-font * 0.5, $max-font * 0.5);
  @include fluid(letter-spacing, $min-font * 0.05, $max-font * 0.05);

  a {
    &:link, &:visited {
      color: $light-text;
    }
    &:hover, &:active {
      color: $dark-text;
    }
  }
}

