/* Header /?/ Layout */

header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  @include fluid(margin-top, $base-line-height-min * 1.5,
                             $base-line-height-max * 1.5);
  @include fluid(margin-bottom, $base-line-height-min,
                                $base-line-height-max);

  .header-logo {
    height: 5em;
    width: 5em;
    @include fluid(margin-bottom, $base-line-height-min,
                                  $base-line-height-max);
  }

  nav {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    text-align: center;
    
    ul {
      display: flex;
      @media (max-width: $min-screen) {
        flex-direction: column;
        li {
          margin-bottom: 2.5em;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      list-style: none;
      padding: 0;
      
      li {
        $navLength: 4;

        @for $i from 1 through $navLength {
          $randomKey: random(length($SBD-light-colors));
          $randomColor: nth($SBD-light-colors, $randomKey);
          
          &.nav-#{$i} a {
            background-color: $randomColor;

            &:hover {
              background-color: darken($randomColor, $contrast);
            }          
          }
        }
        
        margin-left: 1em;
        margin-right: 1em;
        
        &:last-child {
        }

        a {
          padding: 1em;
          border-radius: 5px;
          text-decoration: none;
          font-weight: bold;
          color: #fff;
          
          &:active {
          }
        }
      }
    }
  }
  
}

