<footer>
  <p>Have suggestions on how to make the ride <em>more</em> fun? <a class="feedback" href="https://forms.gle/KjF38ZtEYmyd2wM67"><strong>Let us know</strong>!</a></p>
  <a href="https://gitlab.com/altsalt/seattle.bikedis.co">&#127341; &#127343; &#127246; 2022</a>
</footer>
