<header>
  {% if page.url != "/" %}<a href="/"><img class="header-logo" alt="Seattle Bike Disco" src="{{- '/images/BikeDisco.png' | url -}}" /></a>{% endif %}

  <nav>
    <ul>
      <li class="nav-1"><a href="/about">About</a></li>
      <li class="nav-2"><a href="/gallery">Gallery</a></li>
      <li class="nav-3"><a href="/how-to-disco">How to Disco</a></li>
      <li class="nav-4"><a href="/merchandise">Merchandise</a></li>
    </ul>
  </nav>
</header>
