<!DOCTYPE html>
<html lang="en">
<head>
  {# Display #}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seattle Bike Disco</title>

  {# Metadata #}
{#  <meta name="description" content="{{ site.description }}" />#}
  <link href="{{- '/humans.txt' | url -}}" rel="author" />

  {# Assets #}
  <link rel="stylesheet" href="{{ '/styles/main.css' | url }}" />

  {# Scripts #}
  <script src="/scripts/main.js" defer></script>

  {# Feed #}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>

  {# SEO - https://github.com/artstorm/eleventy-plugin-seo #}
</head>
<body class="{{ body_class }}">
  {{ content | safe }}
</body>
</html>
