@function expect-unit($value, $unit) {
  @if unit($value) != $unit {
    @error "expected unit to be #{$unit}, got #{$value}";
  }

  @return $value;
}

@mixin fluid($properties, $min-value, $max-value) {
  @include fluid-type(
    $properties,
    expect-unit($min-screen, 'rem'),
    expect-unit($max-screen, 'rem'),
    expect-unit($min-value, 'rem'),
    expect-unit($max-value, 'rem')
  );
}

@function px-to-rem($px) {
  @return math.div($px, 16px) * 1rem;
}

