/* Variables */

// Layout
//$medium: "min-width: 600px";
//$large: "min-width: 860px";
$min-screen: px-to-rem(600px);
$max-screen: px-to-rem(860px);

//$article-body-columns: 12;
//$column-width: 50px;
//$gutter-width: 20px;
//$min-width: 860px;


/*
// Grid configuration
$susy: (columns: $article-body-columns, column-width: $column-width, gutters: math.div($gutter-width, $column-width), math: static)

// Single-column layout by default
$total-columns: $article-body-columns
$grid-padding: $gutter-width
*/


// Typography
$min-font: px-to-rem(16px);
$max-font: px-to-rem(24px);

// Fluid modular scale headings - https://codepen.io/MadeByMike/pen/VvwqvW
// https://www.madebymike.com.au/writing/precise-control-responsive-typography/

// Set Scale
$mod_1: 1.067;
$mod_2: 1.333;

// Calculate Modular Scale
// You don't need to calculate this with Sass
// You can use values from http://type-scale.com/
// Or random values :)
$base-line-height-min: $mod_1 * $mod_1 * 1rem;
$base-line-height-max: $mod_2 * $mod_2 * 1rem;

$h1-min: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
$h1-max: $mod_2 * $mod_2 * $mod_2 * $mod_2 * 1rem;

$h2-min: $mod_1 * $mod_1 * $mod_1 * 1rem;
$h2-max: $mod_2 * $mod_2 * $mod_2 * 1rem;

$h3-min: $mod_1 * $mod_1 * 1rem;
$h3-max: $mod_2 * $mod_2 * 1rem;

$h4-min: $mod_1 * 1rem;
$h4-max: $mod_2 * 1rem;

$h5-min: 1rem;
$h5-max: 1rem;

$h6-min: math.div(1rem, $mod_1);
$h6-max: math.div(1rem, $mod_2);


// Apply fluid type mixin

// $base-line-height: 1.5rem;

// $h1: 2rem;
// $h2: 1.5rem;
// $h3: 1.25rem;
// $h4: 1rem;
// $h5: .875rem;


// Color
$body-background: #444;
$page-background: #fdfdfd;
$contrast: 25%;
$minimal-contrast: 6%;
$header-compensation: 4%;
$body-color: darken($page-background, $contrast * 3);
$light-text: #888;
$dark-text: #333;


$SBDdarkyellow: #f4ce00;
$SBDlightyellow: #f6d937;

$SBDdarkorange: #ff3e00;
$SBDlightorange: #ff6837;

$SBDdarkpink: #ee2a7b;
$SBDlightpink: #f15897;

$SBDdarkpurple: #5924b2;
$SBDlightpurple: #8862c7;

$SBDdarkteal: #00a79d;
$SBDlightteal: #37bab2;

$SBDdarkblue: #2a84ff;
$SBDlightblue: #589fff;

$SBD-dark-colors: $SBDdarkblue $SBDdarkteal $SBDdarkpink $SBDdarkpurple $SBDdarkorange $SBDdarkyellow;

$SBD-light-colors: $SBDlightblue $SBDlightteal $SBDlightpink $SBDlightpurple $SBDlightorange $SBDlightyellow;

$SBD-colors: $SBDdarkblue $SBDdarkteal $SBDdarkpink $SBDdarkpurple $SBDdarkorange $SBDdarkyellow $SBDlightblue $SBDlightteal $SBDlightpink $SBDlightpurple $SBDlightorange $SBDlightyellow;


