---
layout: page
title: Gallery /?/ Seattle Bike Disco
ogtype: website
body_class: gallery
---

{%- if collections.gallery -%}
<div class="collage">
{%- for gallery in collections.gallery -%}
{% image gallery.data.title, gallery.data.cover, { href: gallery.url } %}
{%- endfor -%}
</div>
{%- else -%}
Coming Soon!
{%- endif -%}
