---
layout: page
title: Seattle Bike Disco&colon; inclusive, friendly, and zany; no-drop non-stop dance party on wheels!!
ogtype: website
body_class: home
---

<section>
  <h1>Welcome to the Seattle Bike Disco!</h1>
  <img class="home-logo" alt="Seattle Bike Disco" src="{{- '/images/BikeDisco.png' | url -}}" />
</section>

<section class="disco-description">
  <p>Love to ride bicycles‽ Love to dance‽</p>
  <p>Inclusive, friendly, and zany; no-drop non-stop dance party on wheels!!</p>
  <p>We meet monthly, <em>rain or shine</em>, to cycle from place to place, stopping to dance the night away around different parts of Seattle.</p>
  <p>Costumes are encouraged (but not required), as are helmet/bike decorations, lights, and music. Please feel welcome to show up as you are!</p>
  <p>A route, with approximate dance and refreshment stops, where riders can catch up, will be posted the week of.</p>
  <p><strong>Red Square @ UW</strong><br />Gather at 7pm<br />Ride at 7:30pm</p>
  <p>All varieties of bikes, genders, and riders welcome!</p>
</section>

<section>
  <h2>Event pages for this quarter's rides linked below:</h2>
  <ul class="upcoming-rides">
    <li class="ridden">
      <a href="https://everydayrides.com/events/6211874e410c6fa6e5bad0b0" target="_blank" alt="Seattle Bike Disco 18 is on March 11, 2022" title="Seattle Bike Disco 18 is on March 11, 2022">
        <img src="{{- '/images/BikeDisco 1_6_2022_Spring_Insta_March.png' | url -}}" />
        <p class="hover-text">March 11</p>
      </a>
    </li>
    <li>
      <a href="https://everydayrides.com/events/621187893c9908a6e785566f" target="_blank" alt="Seattle Bike Disco 19 is on April 8, 2022" title="Seattle Bike Disco 19 is on April 8, 2022">
        <img src="{{- '/images/BikeDisco 1_6_2022_Spring_Insta_April.png' | url -}}" />
        <p class="hover-text">April 8</p>
      </a>
    </li>
    <li>
      <a href="https://everydayrides.com/events/621187da1c8cd7a6e9f11f1b" target="_blank" alt="Seattle Bike Disco 20 is on May 13, 2022" title="Seattle Bike Disco 20 is on May 13, 2022">
        <img src="{{- '/images/BikeDisco 1_6_2022_Spring_Insta_May.png' | url -}}" />
        <p class="hover-text">May 13</p>
      </a>
    </li>
  </ul>
</section>

